body {
	background-color: #FFD273;
}

li {
	display: inline-block;
}

ul {
	border: 2px solid black;
	width: 100%;
	background-color: #35C0CD;
}

.menu-trigger {
	text-align: center;
	display: none;
}

a {
	display: block;
	text-decoration: none;
	padding: 20px;
	color: #FFD273
}

a:hover {
	background-color: #028E9B;
}

@media screen and (max-width:700px) {
	
	li {
		display: block;
		text-align: center;
	}
	
	a {
		border-bottom: 1px solid #000000;
	}
	
	ul {
		display: none;
	}
	
	.menu-trigger {
		display: block;
	}
}
